name: build installer images
on:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:
jobs:
  compile:
    name: build installer images
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Display runner UID and GID
        run: |
          echo "Runner UID: $(id -u)"
          echo "Runner GID: $(id -g)"
        id: get_ids
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
      - name: Run the build process with Docker
        uses: addnab/docker-run-action@v3
        with:
          image: josdehaes/asahi-alarm-pkgbuild:latest
          options: >
            -v ${{ github.workspace }}:/home/user/PKGBUILDs --user 1001:116 -e SSHPASS=${{ secrets.PASSWORD }} --privileged

          run: |
            set -ex
            df -h
            sudo pacman -S --noconfirm arch-install-scripts sshpass wget rsync zip
            sudo ./build.sh
            cd images
            # first upload under a different name then rename all the files to the correct name because the upload can take a very long time 
            sshpass -e scp -o StrictHostKeyChecking=no asahi-base.zip asahim@asahi-alarm.org:/public_html/base
            # Note that batch mode must be set to no in conjuction with -b because of a bug in sftp
            # if you use -b, it enables batch mode, which disables password authentication
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/base /public_html/asahi-base.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-gnome.zip asahim@asahi-alarm.org:/public_html/gnome
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/gnome /public_html/asahi-gnome.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-plasma.zip asahim@asahi-alarm.org:/public_html/plasma
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/plasma /public_html/asahi-plasma.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-xfce.zip asahim@asahi-alarm.org:/public_html/xfce
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/xfce /public_html/asahi-xfce.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-mate.zip asahim@asahi-alarm.org:/public_html/mate
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/mate /public_html/asahi-mate.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-lxqt.zip asahim@asahi-alarm.org:/public_html/lxqt
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/lxqt /public_html/asahi-lxqt.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-hyprland.zip asahim@asahi-alarm.org:/public_html/hyprland
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/hyprland /public_html/asahi-hyprland.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-cosmic.zip asahim@asahi-alarm.org:/public_html/cosmic
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/cosmic /public_html/asahi-cosmic.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no uefi-only.zip asahim@asahi-alarm.org:/public_html/uefi-only
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/uefi-only /public_html/uefi-only.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-base-btrfs.zip asahim@asahi-alarm.org:/public_html/base-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/base-btrfs /public_html/asahi-base-btrfs.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-gnome-btrfs.zip asahim@asahi-alarm.org:/public_html/gnome-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/gnome-btrfs /public_html/asahi-gnome-btrfs.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-plasma-btrfs.zip asahim@asahi-alarm.org:/public_html/plasma-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/plasma-btrfs /public_html/asahi-plasma-btrfs.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-xfce-btrfs.zip asahim@asahi-alarm.org:/public_html/xfce-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/xfce-btrfs /public_html/asahi-xfce-btrfs.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-mate-btrfs.zip asahim@asahi-alarm.org:/public_html/mate-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/mate-btrfs /public_html/asahi-mate-btrfs.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-lxqt-btrfs.zip asahim@asahi-alarm.org:/public_html/lxqt-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/lxqt-btrfs /public_html/asahi-lxqt-btrfs.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-hyprland-btrfs.zip asahim@asahi-alarm.org:/public_html/hyprland-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/hyprland-btrfs /public_html/asahi-hyprland-btrfs.zip
            EOF
            sshpass -e scp -o StrictHostKeyChecking=no asahi-cosmic-btrfs.zip asahim@asahi-alarm.org:/public_html/cosmic-btrfs
            sshpass -e sftp -o StrictHostKeyChecking=no -o BatchMode=no -b - asahim@asahi-alarm.org << EOF
              rename /public_html/cosmic-btrfs /public_html/asahi-cosmic-btrfs.zip
            EOF
  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
